* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-heading: 'Baloo 2', sans-serif;
    --heading: 700 1.75rem/normal var(--font-heading);
    --heading-sm: 700 1.125rem/normal var(--font-heading);
    --heading-color: #F9F9F9;

    --font-text: 'Open Sans', sans-serif;

    --text-lg: 400 1rem/normal var(--font-text);
    --text: 400 0.875rem/normal var(--font-text);
    --text-sm: 400 0.75rem/normal var(--font-text);

    --text-color: #C8CDD0;
}

body {
    background-color: #131516;
    overflow: hidden;

    font: var(--text);
    color: var(--text-color);
}

#app {
    display: grid;
    grid-template-columns: 33% 66%;

    height: 100vh;
    overflow: hidden;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.flex-1,
.flex-2 {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(50% - 10px);
}

.flex-2,
.flex-1 {
    min-width: calc(50% - 20px);
}

.flex-2 {
    flex: 2;
}

.flex-1 {
    flex: 1;
}

.mt {
    margin-top: 50px;
}

.mb {
    margin-bottom: 75px;
}

.borabill {
    margin-top: 1.75rem;
}

.column {
    display: flex;
    flex-direction: column;
}