:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --bg-color: #0B0F1A;
    --header-color: #111827;
    --text-color: #E5E7EB;
    --tchetche-color: #38BDF8;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}