header {
    display: grid;
    grid-template-columns: 70% auto;
    align-items: center;
    background-color: var(--header-color);
    text-align: center;
    border-bottom: var(--tchetche-color) 2px solid;
    border-radius: 30px;
    padding-block: 50px;
    row-gap: 30px;
}

header img {
    width: 256px;
    border: 3px solid var(--tchetche-color);
    border-radius: 50%;
}

header h1 {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: var(--text-color);
}

header strong {
    font-family: 'Playfair Display', serif;
    display: block;
    font-weight: 700;  
    font-size: 44px;
    color: var(--tchetche-color);
    line-height: 2;
}

.tecnologias {
    display: flex;
    flex-direction: column;

    h3 {
        font-family: 'Lato', serif;
        font-size: 24px;
        color: var(--text-color);
        margin-bottom: 10px;
    }
}

header ul {
    list-style: none;
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

header p {
    font-family: 'Lato', serif;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid var(--tchetche-color);
    border-radius: 10px;
    margin-left: 70px;
    text-align: justify;
    padding: 35px;
    color: var(--text-color);
    line-height: 2;
}

#html {
    background-color: #E34F26;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

#css {
    background-color: #1572B6;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

#php {
    background-color: #8892BE;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

#js {
    background-color: #F0DB4F;
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
}