section {
    border-bottom: 3px dashed var(--tchetche-color);
    padding: 0 20px 100px 20px;
}

#servicos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 40px;
    justify-items: center;
    align-items: center;

    h3 {
        font-size: 28px;
        color: var(--tchetche-color);
        margin-bottom: 15px;
    }

    p {
        text-align: center;
        font-size: 24px;
        color: var(--text-color);
        line-height: 1.6;
        max-width: 600px;
    }

    #borabill {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid 2px var(--tchetche-color);
        padding: 20px;
        border-radius: 15px;
    }
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 50px;
    margin-top: 60px;
    color: var(--tchetche-color);
}

#projetos {
    text-align: center;

    ul {
        list-style: none;
    }

    img {
        width: 700px;
        border-radius: 15px;
        border: 2px solid var(--tchetche-color);
    }

    h3 {
        font-size: 28px;
        color: var(--tchetche-color);
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 100px;
        font-size: 20px;
    }
}

#contato {
    text-align: center;

    h2 {
        margin-bottom: 40px;
    }

    p {
        font-size: 24px;
        margin-bottom: 50px;
    }

    a {
        display: inline-block;
        margin: 0 50px;
        color: inherit;
        text-decoration: none;
        font-size: 24px;
        border: 1px solid var(--tchetche-color);
        padding: 10px;
        border-radius: 10px;
    }

    a:hover {
        transform: scale(1.2);
        transition: all 0.3s ease-in-out;
        text-decoration: underline;
    }

    #linkd {
        color: #0A66C2;
    }

    #github {
        color: #fff;
    }

    #whats {
        color: #25D366;
    }
}   