@media (max-width: 48em) {
  .desktop-only {
    display: none;
  }

  nav ul {
    gap: .5rem;
  }

  #profile {
    flex-direction: column;
  }

  #profile img {
    width: 120px;
    height: 120px;
  }

  #profile h1 {
    font-size: 24px;
  }

  header .container {
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }

  main.container {
    padding-inline: 0;
    justify-content: center;
    gap: 1rem;
  }

  main img {
    width: 328px;
    height: 328px;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  .flex {
    display: flex;
    gap: 1rem;
  }

  footer.container {
    padding-inline: 1rem;
  }

  footer #first {
    margin-right: 0;
  }
}