body {
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

#container {
    margin: 88px 80px 137px 80px;
}

h1 {
    font-size: 36px;
    color: #1B1B1B;
}

h2 {
    font-size: 32px;
    color: #1B1B1B;
}

li {
    font-size: 28px;
    font-weight: bold;
    margin-left: 24px;
}

.headline {
    text-transform: uppercase;
    font-size: 16px;
    color: #E1624F;
}

img {
    width: 100%;
    height: 660px;
    border-radius: 28px;
    object-fit: cover;
}

.desc {
    font-style: italic;
}

article img {
    height: 350px;
    margin-top: 48px;
}

hr {
    width: 100%;
    height: 1px;
    border: none;
    margin: 40px 0;
    background-color: #D9D9D9;
}

ol {
    padding: 0;
    margin: 0;
}

strong {
    display: block;
}

strong.hist {
    color: #0C51A7;
}

strong.casais {
    color: #591B98;
}

strong.familias {
    color: #E5245E;
}

strong.orcamento {
    color: #E95E10;
}

footer p {
    text-align: center;
}

footer p + p {
    margin-top: 50px;
    font-size: 14px;
    font-weight: bold;
}